body {
  background: #eee;
  color: #999;
  font-family: Helvetica, serif;
  font-weight: 200;
}

h1 {
  color: #888;
  text-align: center;

  padding: 20px 0;
  border: 1px dashed #ccc;
}

ul {
  list-style: none;
  line-height: 1.5em;
  padding-left: 0;
  margin: 0;
  word-wrap: break-word;
}

li {
  padding-left: 5px;
}

li:nth-child(odd) {
  background: #eee;
}

form {
  position: relative;
  bottom: -10px;
}

form input {
  height: 15px;
  width: 85%;
}

form button {
  height: 100%;
  width: 10%;
  margin-left: 10px;
}

#content {
  background: #fff;
  height: 550px;
  width: 600px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}

#messages {
  height: 70%;
  overflow: auto;
  border: 1px dashed #ccc;
  margin: 0;
}

#message-form {
  border: 1px dashed #ccc;
  margin-top: 20px;
  position: relative;
  bottom: 0;
}
